h2 {
  color: #333; 
  font-size: 24px;
  margin-bottom: 10px; 
}

.post_auth {
  color: saddlebrown; 
}

.post_date {
  color:  saddlebrown; 
}

.post_genre {
  color: saddlebrown; 
}

.post_synop {
  
}